a {
  color: #000;
}

.page {
  margin: 0 auto;
  font-weight: normal;
  font-style: normal;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.contact {
  font-weight: 700;
  font-size: 12px;
}

/* HEADER (begin) */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 110px 30px 110px;
  background-color: #f9f9f9;
  box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.5);
}

.header__left-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.header__contact {
  padding-bottom: 15px;
}

.header__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 48px;
}

.header__logo {
  display: block;
}

.header:after {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10px;
  height: 15px;
  background-size: 15px 15px;
  background-repeat: repeat-x;
  content: '';
}

.header:after {
  bottom: -10px;
  background-image: linear-gradient(40deg, transparent 10px, #f9f9f9 11px), linear-gradient(320deg, transparent 10px, #f9f9f9 11px);
}
/* HEADER (end) */

.main {
  padding: 35px 110px 50px 110px;
  background-color: #eee;
}

/* COMMENTS (begin) */
.comments {
}

.comments__line {
  padding-bottom: 30px;
}

.comments__info {
  display: flex;
  padding-bottom: 15px;
}

.comments__name {
  padding-right: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.comments__date-container {
  display: flex;
  font-weight: 300;
  font-size: 11px;
  /* хоть фотошоп показывает 18px, но пришлось поставить 21,
   * иначе дата выше имени. это некрасиво.
   */
  line-height: 21px;
}

.comments__time {
  padding-right: 10px;
}

.comments__date {
}

.comments__text {
  max-width: 777px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
/* COMMENTS (end) */

.hr {
  height: 1px;
  border: none;
  background-color: #d4d4d4;
  color: #d4d4d4;
}

/* FORM (begin) */
.form {
  max-width: 457px;
}

.form__title {
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.form__fields {
}

.form__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.form__input {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px 20px 12px 20px;
  width: 413px;
  height: 14px;
  border: 2px solid #000;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.form__input_type_comment {
  height: 130px;
  resize: none;
}

.form__input:last-child {
  margin-bottom: 10px;
}

.form__input:focus {
  border-color: #fff;
  background-color: #fff;
}

.form__input:valid {
  border-color: #fff;
  background-color: #fff;
}

.form__btn {
  display: block;
  margin: 0 0 0 auto;
  padding: 12px 20px;
  border: 2px solid #000;
  border-radius: 2px;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}
/* FORM (end) */

/* FOOTER (begin) */
.footer {
  display: flex;
  padding: 18px 110px 15px 110px;
  background-color: #f9f9f9;
}

.footer__logo {
  display: block;
  padding-right: 37px;
  width: 101px;
  height: auto;
}

.footer__right-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.footer__contact {
  padding-bottom: 8px;
}

.footer__copyright {
  padding-top: 18px;
  font-size: 12px;
}
/* FOOTER (end) */
